.header{
    height: 15%;
    background: #041C32;
    text-transform: uppercase;
    display: flex;
    color: white;
    padding: 1rem;
    font-family: "Montserrat",sans-serif;
    .header-title{
        font-size: 25px;

    }
}